pkgbase = oxiroute
	pkgdesc = Pingora-based HTTP, TCP, and RTMP proxy runtime
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/brauliobo/oxiroute
	install = oxiroute.install
	arch = x86_64
	license = Apache-2.0
	makedepends = rust>=1.87
	depends = ca-certificates
	depends = gcc-libs
	depends = glibc
	depends = openssl
	optdepends = certbot: provide certificate lineages consumed by configured Certbot sources
	backup = etc/oxiroute/oxiroute.env
	backup = etc/oxiroute/oxiroute.kdl
	backup = etc/oxiroute/oxiroute.lua
	source = oxiroute-0.3.0.tar.gz::https://github.com/brauliobo/oxiroute/releases/download/v0.3.0/oxiroute-0.3.0.tar.gz
	source = oxiroute.service
	source = oxiroute.sysusers
	source = oxiroute.tmpfiles
	source = oxiroute.env
	source = oxiroute.kdl
	source = oxiroute.lua
	source = README.md
	sha256sums = c0845a87b8d698682a5677c3254573abd60423eacd6b0f603d0f874597d21b3a
	sha256sums = 992cc50eee56dc5c215e7ebd6bdec55d9097332232bf7c7bafe9372d39b7db44
	sha256sums = ece087105e74910e9d4a6c3551082828378ac5c62fc15e97a755a3bc93020e72
	sha256sums = 632c14735ddea0bf780abea05d3d288f9530ca41f201a37e428223d04acffe3a
	sha256sums = bf78e2cc42f96db9fc88a999b66e59c9048267346a00b6e8a23a6d523bed7886
	sha256sums = 57e5cb6cf58a38b6c5efd99e0b5a9a36bac3fafba438059a8396b07e9b6e80a9
	sha256sums = f55a08f56ff139b566afac6b0c9cbbc4ed08f69a7e04810128bfb8c98a0f0564
	sha256sums = 97ea38fc74b1942374a7a6af905f4513b4f528a273a3b6b19c41373eeff742f9

pkgname = oxiroute
