pkgbase = oxiroute
	pkgdesc = Pingora-based HTTP, TCP, and RTMP proxy runtime
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/brauliobo/oxiroute
	install = oxiroute.install
	arch = x86_64
	license = Apache-2.0
	makedepends = rust>=1.87
	depends = ca-certificates
	depends = gcc-libs
	depends = glibc
	depends = openssl
	optdepends = certbot: provide certificate lineages consumed by configured Certbot sources
	backup = etc/oxiroute/oxiroute.env
	backup = etc/oxiroute/oxiroute.lua
	source = oxiroute-0.1.0.tar.gz::https://github.com/brauliobo/oxiroute/releases/download/v0.1.0/oxiroute-0.1.0.tar.gz
	source = oxiroute.service
	source = oxiroute.sysusers
	source = oxiroute.tmpfiles
	source = oxiroute.env
	source = oxiroute.lua
	source = README.md
	sha256sums = 90201aee0139fe061a40645b1ad8d21e7e95942d6c9a8e0044e04ea9e80eeebb
	sha256sums = ad2d8536df423a144f0da179fd68ae7712ae2e39226c068a088a248bdbadf0e3
	sha256sums = ece087105e74910e9d4a6c3551082828378ac5c62fc15e97a755a3bc93020e72
	sha256sums = 632c14735ddea0bf780abea05d3d288f9530ca41f201a37e428223d04acffe3a
	sha256sums = bf78e2cc42f96db9fc88a999b66e59c9048267346a00b6e8a23a6d523bed7886
	sha256sums = f55a08f56ff139b566afac6b0c9cbbc4ed08f69a7e04810128bfb8c98a0f0564
	sha256sums = 87c98a2a3fb1dcfe3767020630d0fa29cef4fa7caf9999d3d2eea418073fc36d

pkgname = oxiroute
